body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

#data-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#charts-container {
    grid-column: 1 / span 2;
}
#gpt-container {
    grid-column: 1 / span 2;
}

#pm25, #pm10, #no2, #t, #w {
    font-weight: bold;
}

#search-input {
    display: flex;
    justify-content: center;
    margin: 10px auto;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    
}

#search-output:empty{
    display: none;
    margin: 10px auto;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#leaflet-locations{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10px auto;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.buttonMap{
    display: flex;
    justify-content: space-around;
    margin: 0 15px;
    /* justify-content: center; */
}

.result {
    margin: 10px auto;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}